/*//////////////////////////////////////////////////////////////////*/
/*                          🌲 ÁRBOL 🌲                           */
/*//////////////////////////////////////////////////////////////////*/

#tree-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 20px auto;
}

.tree {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#ornament-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ornament {
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////*/
/*                   📲 AJUSTES RESPONSIVOS 📲                     */
/*//////////////////////////////////////////////////////////////////*/

/* Pequeños teléfonos */
@media screen and (max-width: 400px) {
    #tree-container {
        width: 250px;
        height: 250px;
    }

    .ornament {
        font-size: 18px;
    }

    #ornament-container {
        margin-top: 5px;
    }
}

/* Teléfonos grandes */
@media screen and (min-width: 401px) and (max-width: 600px) {
    #tree-container {
        width: 300px;
        height: 300px;
    }

    .ornament {
        font-size: 20px;
    }

    #ornament-container {
        margin-top: 10px;
    }
}

/* Tablets pequeñas */
@media screen and (min-width: 601px) and (max-width: 768px) {
    #tree-container {
        width: 350px;
        height: 350px;
    }

    .ornament {
        font-size: 22px;
    }

    #ornament-container {
        margin-top: 15px;
    }
}

/* Tablets grandes */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #tree-container {
        width: 400px;
        height: 400px;
    }

    .ornament {
        font-size: 25px;
    }

    #ornament-container {
        margin-top: 15px;
    }
}

/* Laptops pequeñas */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    #tree-container {
        width: 450px;
        height: 450px;
    }

    .ornament {
        font-size: 28px;
    }

    #ornament-container {
        margin-top: 18px;
    }
}

/* Pantallas grandes */
@media screen and (min-width: 1367px) {
    #tree-container {
        width: 500px;
        height: 500px;
    }

    .ornament {
        font-size: 30px;
    }

    #ornament-container {
        margin-top: 20px;
    }
}
