/*//////////////////////////////////////////////////////////////////*/
/*                        🗺️ MAPA 🗺️                             */
/*//////////////////////////////////////////////////////////////////*/

#mapa-rastreo {
    width: 600px; 
    height: 450px; 
    position: relative;
    margin: 0 auto 20px auto;
}

/*//////////////////////////////////////////////////////////////////*/
/*                   📲 AJUSTES MÓVIL 📲                          */
/*//////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 601px) {
    #mapa-rastreo {
        width: 100%;
        height: 300px;
    }
}

/*//////////////////////////////////////////////////////////////////*/
/*                   📲 AJUSTES IPAD 📲                          */
/*//////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 768px) and (min-width: 601px){
    #mapa-rastreo {
        width: 100%;
        height: 300px;
    }
}